* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.container {
  display: flex;
}
.nav {
  width: 100%;
  justify-content: space-between;
  height: 70px;
  cursor: pointer;
}

.left-nav {
  justify-content: space-between;
  padding-left: 4rem;
  align-items: center;
  gap: 10px;
}

.left-nav ul {
  gap: 30px;
}

.left-nav ul li {
  list-style: none;
  justify-content: space-around;
}

.icon {
  width: 24px;
}

.right-nav {
  height: 70px;
}

.right-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 5px;
  gap: 25px;
  padding: 5px;
  height: 70px;
  padding-right: 20px;
}

.download-div-nav {
  display: flex;
  gap: 8px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-bar input {
  width: 450px;
  height: 2.5rem;
  background-color: #2b2b2b;
  outline: none;
  border-radius: 0.5rem;
  border: none;
}

.search-bar input::placeholder {
  padding-left: 10px;
  font-size: 18px;
  color: #a6b3b3;
}

.search {
  margin-top: 2px;
}

.home {
  margin-top: 7px;
}

.logo {
  padding-top: 5px;
}

.btn {
  background-color: black;
  color: #a6b3b3;
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.log-in {
  background-color: white;
  color: black;
  height: 50px;
  width: 120px;
  border-radius: 5rem;
}

.left {
  width: 25%;
  height: 80vh;
  background-color: #121212;
  border-radius: 1rem;
}

.right {
  width: 75%;
  height: 80vh;
  overflow: auto;
  background-color: #121212;
  border-radius: 1rem;
  color: white;
}

.top-left-content {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-radius: 0.5rem;
  font-weight: bolder;
  /* height: 10rem;
    line-height: 5rem; */
}

.top-left-content h3 {
  font-size: 20px;
}

.middle-left-content {
  height: 300px;
  overflow: auto;
  scrollbar-width: none;
}

.middle-left-content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.middle-left-content:hover {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}

.middle-left-content:hover::-webkit-scrollbar {
  width: 8px;
}

.middle-left-content:hover::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.middle-left-content:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}

.middle-left-content:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

.middle-left-content-one,
.middle-left-content-two {
  height: 150px;
  width: 100%;
  background-color: #1f1f1f;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 1rem;
  color: white;
  padding: 10px 0 10px 25px;
}

.middle-left-content-one h3,
.middle-left-content-one h5,
.middle-left-content-two h3,
.middle-left-content-two h5 {
  font-size: 15px;
  padding: 5px;
}

.middle-left-content-one button,
.middle-left-content-two button {
  background-color: white;
  color: black;
  height: 35px;
  width: 150px;
  border-radius: 5rem;
  font-weight: bolder;
  padding: 5px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.bottom-left-content-span-div {
  padding-top: 35px;
  padding-left: 10px;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 50px;
}

.bottom-left-content-span-div div {
  /* padding: 10px; */
  color: #b3b3b3;
}

.bottom-left-content-span-div div span {
  font-size: 12px;
  text-align: left;
}

.Cookies {
  margin: 20px 0 10px 35px;
}
.Cookies span {
  color: white;
}


.english-btn button {
  background: #121212;
  color: #ffffff;
  width: 10rem;
  height: 2rem;
  border: 1px solid #b3b3b3;
  font-weight: bold;
  border-radius: 5rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.footer {
  margin-top: 5px;
  height: 65px;
  width: 100%;
  background: linear-gradient(to right, #b32e9c, #6e58d3, #5290f5);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}

.left-footer {
  color: white;
}

.sign-in {
  background-color: white;
  color: black;
  height: 50px;
  width: 180px;
  border-radius: 5rem;
  font-weight: bolder;
  border: none;
}
