.border {
  margin: 3px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}
.invert {
  filter: invert(1);
}
.bg-black {
  background-color: black;
  color: white;
}
.bg-gray {
  background-color: #2a2a2a;
  color: white;
  border-radius: 50%;
}

.gap {
  gap: 15px;
}
