.border {
  margin: 3px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}
.invert {
  filter: invert(1);
}
.bg-black {
  background-color: black;
  color: white;
}

.gap {
  gap: 15px;
}

.svg-nav {
  height: 5rem;
  width: 3rem;
  background-color: #2a2a2a;
  border-radius: 50%;
}

.icon {
  width: 24px;
}

.flex-center{
  display: flex;
  justify-content: center ;
  align-items: center;
}